pipeline/12 forEach activity.json
{
	"name": "12 forEach activity",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('list')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "result",
								"value": {
									"value": "@mul(item(),5)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 2
							}
						}
					]
				}
			}
		],
		"variables": {
			"list": {
				"type": "Array",
				"defaultValue": [
					5,
					10,
					15,
					20
				]
			},
			"result": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-10-28T10:21:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}