pipeline/13 variables lengthplus1.json
{
	"name": "13 variables lengthplus1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "temp",
					"value": {
						"value": "@variables('length')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "length",
					"value": {
						"value": "@add(variables('temp'),1)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"length": {
				"type": "Integer",
				"defaultValue": 10
			},
			"temp": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-10-29T06:14:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}