pipeline/3 final project.json
{
	"name": "3 final project",
	"properties": {
		"activities": [
			{
				"name": "Full load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "StartLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('FullLoadTableList')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Full Load from onprem to adls",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_Onprem_SqlServer",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().schema",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().tablename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_Adls_Rawdata",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().filename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Incremental Load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "StartLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('IncrementalLoadTableList')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Watermark Date",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('select watermarkDateTime from [dbo].[Watermarktable]\nwhere tablename=''',item().tablename,'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Ds_forLookupIntoWatermarkTable",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Onprem max dateTime",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('select max(modifiedDate) as maxdate from ',item().tablename)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Ds_OnpremLookup",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Incremetal Load from onprem to adls",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Watermark Date",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Onprem max dateTime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('select * from ',item().tablename,' where modifieddate > ''',activity('Watermark Date').output.firstRow.watermarkdatetime,''' and modifieddate <= ''',activity('Onprem max dateTime').output.firstRow.maxdate,'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Ds_OnpremLookup",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_Adls_Rawdata",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().filename",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "update watermark",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Incremetal Load from onprem to adls",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_SqlServer",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('update watermarktable set watermarkDateTime=''',activity('Onprem max dateTime').output.firstRow.maxdate,''' where tablename=''',item().tablename,'''')",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "StartLog",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspADFPipelineStart]",
						"storedProcedureParameters": {
							"ADFName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"RunID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"StartTime": {
								"type": "Datetime",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_forlookupserver",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Merge Incremental Records",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Incremental Load",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Full load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/swatidpu@gmail.com/Delta Records Merge Notebook"
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Data Aggregation For Reporting",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Merge Incremental Records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/swatidpu@gmail.com/aggregation on Delta Table"
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "End Log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Data Aggregation For Reporting",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[uspADFPipelineEnd]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"id": {
							"value": {
								"value": "@activity('StartLog').output.firstRow.id",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_SqlServer",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"FullLoadTableList": {
				"type": "Array",
				"defaultValue": [
					{
						"schema": "dbo",
						"tablename": "Customers",
						"filename": "Customers"
					},
					{
						"schema": "dbo",
						"tablename": "Products",
						"filename": "Products"
					},
					{
						"schema": "dbo",
						"tablename": "Promotions",
						"filename": "Promotions"
					},
					{
						"schema": "dbo",
						"tablename": "Reviews",
						"filename": "Reviews"
					},
					{
						"schema": "dbo",
						"tablename": "ShippingDetails",
						"filename": "ShippingDetails"
					},
					{
						"schema": "dbo",
						"tablename": "Returns",
						"filename": "Returns"
					}
				]
			},
			"IncrementalLoadTableList": {
				"type": "Array",
				"defaultValue": [
					{
						"schema": "dbo",
						"tablename": "Orders",
						"filename": "Orders"
					},
					{
						"schema": "dbo",
						"tablename": "OrderItems",
						"filename": "OrderItems"
					},
					{
						"schema": "dbo",
						"tablename": "Inventory",
						"filename": "Inventory"
					},
					{
						"schema": "dbo",
						"tablename": "Payments",
						"filename": "Payments"
					}
				]
			}
		},
		"folder": {
			"name": "project"
		},
		"annotations": [],
		"lastPublishTime": "2024-11-10T07:23:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}